@using DiffPlex.DiffBuilder.Model

@if (Pane != null)
{
    <div class="diffPane">
        <table cellpadding="0" cellspacing="0" class="diffTable">
            @foreach (var diffLine in Pane.Lines)
            {
                <tr>
                    <td class="lineNumber">
                        @(
                        (MarkupString)(diffLine.Position.HasValue ? diffLine.Position.ToString() : "&nbsp;")
                        )
                    </td>
                    <td class="line @diffLine.Type.ToString()Line">
                        <span class="lineText">
                            <DiffLine Piece="diffLine" />
                        </span>
                    </td>
                </tr>
            }
        </table>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public DiffPaneModel? Pane { get; set; }
}
